<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
  integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>
<script type="module">
  const map = L.map("map").setView([45.31, 13.24], 4);
  const submitBtn = document.querySelector("#map_Dodaj");
  const markers = [];
  const addLikeChechbox = $("#add-like");
  const addLikeLabel = $("#add-like ~ label");
  const userID = addLikeChechbox.data("userid");

  $(document).ready(function () {
    getMapData("/get-marks");
    getLikes("/get-likes");
    getComments("/get-comments");

    $("#submit-comment").click(function (e) {
      e.preventDefault();
      const content = $("#content").val();
      const replyToID = document.querySelector('#form-comment').dataset.commentid
      console.log(replyToID);

      if (content !== "") {
        const userComment = document.querySelector('[data-commentuser="true"]');

        if (userComment) {
          showAlert($(".comments-fail-alert"));
        } else {

          $.ajax({
            type: "POST",
            url: `/add-comment/${userID}`,
            data: {
              content: content,
              replyToComment: replyToID ? parseInt(replyToID) : null,
            },
            success: () => {
              showAlert($(".comments-success-alert"));
              getComments("/get-comments");
            },
            error: (err) => console.error(err),
          });
        }

        $("#form-comment").trigger("reset");
      }
    });

    addLikeChechbox.click(function (e) {
      if (addLikeChechbox.is(":checked")) {
        $.post(`/add-like/${userID}`);
        addLikeChechbox.removeAttr("checked");
      } else {
        $.post(`/remove-like/${userID}`);
      }

      getLikes("/get-likes");
    });

    $("#submit").click(function (e) {
      e.preventDefault();

      const name = escape($("#name").val());
      const latitude = escape($("#latitude").val());
      const longitude = escape($("#longitude").val());

      $.post("/add-mark", {
        name: name,
        latitude: latitude,
        longitude: longitude,
      });

      getMapData("/get-marks");

      $("#form").trigger("reset");
    });
  });

  document.addEventListener("click", (e) => {
    if (e.target.matches(".delete-mark")) {
      markers.forEach((marker) => {
        map.removeLayer(marker);
      });
      const id = e.target.dataset.id;
      getMapData(`/delete/${id}`);
    }
  });

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);

  function generateComments(data) {
    const commentsSection = document.querySelector("#comments");
    const articles = commentsSection.querySelectorAll("article");
    let userCommentID = "";
    console.log("Komentarze: ", data);

    if (articles) {
      articles.forEach((article) => article.remove());
    }

    data.forEach((comment) => {
      const article = document.createElement("article");
      const userName = comment.author.userName;
      const date =
        comment.createdAt.slice(0, 10) +
        " | " +
        comment.createdAt.slice(11, 16);
      let removeCommentBtn = "";
      let replyBtn = `
        <button id="reply-comment${comment.id}" data-commentid="${comment.id}"" data-bs-toggle="modal" data-bs-target="#add-comment-form" class="reply-comment-button ms-auto btn btn-primary">
          odpowiedz
        </button>
      `;
      let replyTo = comment.replyToComment?.author.userName;
      let replyToID = comment.replyToComment?.id;

      article.className = `${replyTo ? "ms-auto w-75" : ""}`;
      article.id = `comment${comment.id}`;

      if (userID == comment.author.id) {
        article.id = `comment${comment.id}`;
        article.setAttribute("data-commentuser", true);
        replyBtn = "";
        userCommentID = comment.id;
        removeCommentBtn =
          '<button id="remove-comment" class="ms-auto btn btn-primary">usuń komentarz</button>';
      }

      article.innerHTML = `
        <div class="border border-primary border-2 p-4 rounded mt-4">
          <div class="d-flex gap-3">
            <h3 class="fs-5">${userName}${
        removeCommentBtn ? ' <span class="bg-dark badge">TY</span>' : ""
      }</h3>
            <time>${date}</time>
            ${replyBtn}
            ${removeCommentBtn}
          </div>
          <p>${
            replyTo ? `<a href="#comment${replyToID}">@${replyTo}</a> ` : ""
          }${comment.content}</p>
        </div>
        <div class="comment-replies"></div>
      `;
      if (replyTo) {
        const commentsReplies = document.querySelector(
          `#comment${replyToID} > .comment-replies`
        );
        commentsReplies.append(article);
      } else {
        commentsSection.append(article);
      }
    });

    $("#remove-comment").click(function () {
      $.post(`/remove-comment/${userCommentID}`);
      getComments("/get-comments");
    });

    document
      .querySelectorAll(".reply-comment-button")
      .forEach((btn) => btn.addEventListener("click", (e) => {
        $("#form-comment").attr("data-commentid", e.target.id.slice(13));
      }));

    document.querySelector("#add-comment-noreply")
      .addEventListener('click', function() {
      $("#form-comment").removeAttr("data-commentid")
    })
  }

  function generateLikes(data) {
    const likes = document.querySelector("#likes");
    console.log("Polubienia: ", data);
    likes.textContent = data[0].number;
  }

  function generateContent(data) {
    const tableBody = document.querySelector(".table-body");
    tableBody.innerHTML = "";

    console.log("Znaczniki: ", data);

    data.forEach((mark) => {
      const { id, latitude, longitude, name } = mark;
      const marker = new L.Marker([latitude, longitude], { alt: name });
      map.addLayer(marker);
      marker.bindPopup(name);
      markers.push(marker);

      const tr = document.createElement("tr");

      tr.innerHTML += `
            <td>${id}</td>
            <td>
                <a target="_blank" href="https://pl.wikipedia.org/wiki/${name}">${name}</a>
            </td>
            <td>${latitude}</td>
            <td>${longitude}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <button data-id="${id}" class="delete-mark btn btn-primary">
                      Usuń
                    </button>
                </td>
            {% endif %}
      `;
      tableBody.append(tr);
    });
  }

  function getMapData(url) {
    $.ajax({
      url: url,
      success: function (response) {
        generateContent(response);
      },
      error: function () {
        alert("Error");
      },
    });
  }

  function getLikes(url) {
    $.ajax({
      url: url,
      success: function (response) {
        generateLikes(response);
      },
    });
  }

  function getComments(url) {
    $.ajax({
      url: url,
      success: function (response) {
        generateComments(JSON.parse(response));
      },
    });
  }

  function showAlert(alert) {
    alert.removeClass("d-none");

    setTimeout(function () {
      alert.addClass("d-none");
    }, 4000);
  }
</script>
